.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.containertwo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}

.img{
    width: 100%;
    height: 75vh;
    overflow: hidden;
}
.img img{
    width: 100%;
    height:100%;
    object-fit: cover;

}
.textcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 0px 40px  rgb(0, 0, 0);
    z-index: 3;
    overflow: hidden;
}
.textcontainertwo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -30px 0px 40px  rgb(0, 0, 0);
    z-index: 3;
    overflow: hidden;
}
.textinnerpart{
    padding:0rem 3rem ;
    line-height: 1.4;
    font-size: 1.05rem;
}
.textinnerpart h1{
    margin-bottom: 0.8rem;
}

.maincontainer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.Signinbtn{
    padding: 8px 15px;
    display: inline-block;
    border: none;
    background-color: red;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
    border-radius: 5px;

}
.Signinbtn:hover{
    cursor: pointer;
    background-color: rgb(255, 113, 113);
    transform:scale(1.02);
    transform-origin: center;
}
.textinnersection{
    padding:0rem 3rem ;
    line-height: 1.4;
    font-size: 1.05rem;
}
.textinnersection h1{
    margin-bottom: 1.2rem;
}
.moviesbtn{
    padding: 8px 15px;
    display: inline-block;
    border: none;
    background-color: rgb(25, 187, 251);
    color: white;
    font-weight: 700;
    margin-top: 1rem;
    border-radius: 5px;
}
.moviesbtn:hover{
    cursor: pointer;
    background-color: rgb(69, 202, 255);
    transform:scale(1.02);
    transform-origin: center;
}
.thirdsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding:0px 30px;
}
.thirdsection p{
    font-size: 1.3rem;
    font-weight: 700;
}
@media screen and (max-width:900px){
    .textinnerpart,.textinnersection{
        font-size: 0.8rem;
    }
    .loginbtn{
        padding: 5px 12px;
        font-weight: 400;
    }
}
@media screen and (max-width:680px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;

    }
    .containertwo{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

    
    }
    .img img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .img{
        width: 100%;
        height: auto;
        overflow: visible;
    }
    .maincontainer{
        gap: 2rem;
    }
    .textinnerpart, .textinnersection{
         padding: 0rem 1rem; 
    }
    .thirdsection p{
    font-size: 1rem;
    font-weight: 500;
    }
   
}