.slider-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.bg-wrap{
  position: absolute;
  inset:0;
  overflow: hidden;
  z-index: 1;
}
.image-container {
  overflow: hidden;
  width: 100%;
  height: 70vh;
  position: relative;
}
.bg{
  position: absolute;
  inset: -20%;
  background-size:cover ;
  background-position: center;
  filter: blur(25px);
  transform: scale(1.2);
}
.overlay{
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.7),
    transparent 20%,
    transparent 80%,
    rgba(0,0,0,0.7),
  );
}
.slider-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  z-index: 3;
  
}

.nav-button {
 background: rgba(0, 0, 0, 0.189);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; 
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.nav-button:hover {
  background-color: #454546;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color:rgba(206, 204, 204, 0.253);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #0c0c0c;
}

.dot:hover {
  background-color: #555;
}


@media (max-width: 768px) {
  .nav-button {
    padding: 8px 10px;
    font-size: 14px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
  }
  
  .image-container {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  .image-container {
    height: 40vh;
  }
   .nav-button {
    padding: 5px 8px;
    font-size: 12px;
  }
  .dot {
  height: 10px;
  width: 10px;
  }
}
@media screen and (max-width:460px) {
  .image-container{
    height: 30vh;
  }
  .dot {
  height:8px;
  width: 8px;
  }

} 
