.movieCardcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 20px 10px;
    padding: 20px 10px;
}
.movieContainertext{
    padding: 20px 10px;
    
}
.movieCard{
    width:280px ;
    height:400px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 20px;
}
.movieCard:hover{
   cursor: pointer;
   transform: scale(1.06);
   transition: 0.2s ease-in;
}
.movieposter{
    width:280px;
    height:400px;

}
@media screen and (max-width:600px) {
    .movieCard{
        width: 200px;
        height: 300px;
    }
    .movieposter{
        width: 200px;
        height: 300px;
    }
}
@media screen and (max-width:500px) {
    .movieCard{
        width:130px;
        height: 200px;
    }
    .movieposter{
        width: 130px;
        height: 200px;
    }
}