.navbar{
  width: 100%;
  min-height:3rem;
  background-color: rgba(20, 19, 19, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  position: fixed;
  z-index: 20;
  top: 0px;
}
.navbar h2{
  color: red;
}
.pages{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.pages a{
  padding: 0.5rem 0.8rem;
  color:rgb(197, 197, 197);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
a.active{
  color:white;
  text-decoration:underline;
  transition: 0.3s ease-in;
  
}
.icon{
  font-size: 22px;
  line-height: 1;
}
.Movie-player{
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:25px ;
}
.reveal-text {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  color: red;
}

.reveal-text::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  animation: reveal 1.2s ease forwards;
}

@keyframes reveal {
  100% {
    transform: translateX(100%);
  }
}
.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: rgb(30, 30, 30);

}
.footer h3{
  color: red;
}
.footerterms{
  display: flex;
  gap:1rem;
  color: rgb(84, 229, 255);
}
.footerpera{
  color: white;
}
.mainApp{
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction:column ;
}
.content{
  flex: 1;
  margin-top: 50px;
}
.toogle-btn{
  color:rgb(197, 197, 197);
  background-color: black;
  border: none;
  font-size: 18px;
}
.mobile-menu{
  position: absolute;
  top:52px;
  right:10px;
  background: #111111dd;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0, 0.5);
  z-index: 50;
  height: auto;
}
.mobile-menu a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 4px 0;
}
.mobile-menu a:hover{
  color: red;
}
@media screen and (max-width:540px) {
  .footer{
    font-size: 12px;
  }
  .navbar h2{
    font-size: 20px;
  }
}