.navbar{
  width: 100%;
  height:3rem;
  background-color: rgb(20, 19, 19);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
}
.pages{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.pages a{
  padding:10px 10px;
  color:rgb(197, 197, 197);
  text-decoration: none;
}
a.active{
  color:white;
  text-decoration:underline;
  transition: 0.5s ease-in;
  
}
.icon{
  font-size: 22px;
}