body,html{
  font-family:sans-serif;
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#root { /* ya tumhara main App container */
  display: flex;
  flex-direction: column;
}
